<div class="profile-card">
    <div class="container top-padding">
        <div class="two column center">
            <div class="card card">
                <header name="Summary" class="summary">
                    <div class="dp-container" role="img" aria-label="{{name}}">
                        <a class="image-link" href="http://rishigohil.com/" title="{{name}}" target="_blank"></a>
                    </div>

                    <h5>{{name}}</h5>
                    <h6 class="heading">{{designation}}</h6>
                </header>

                <section name="Profile Bio" class="profile-bio">
                    <p ng-bind-html="currentDesignation"></p>
                    <p>{{bio}}</p>
                </section>

                <section name="Social Links">
                    <div my-social-links-directive></div>
                </section>

                <section name="Resume">
                    <a href="{{resumeUrl}}" target="_blank" class="button">
                        <i class="fa fa-cloud-download" aria-hidden="true"></i> Resume
                    </a>
                </section>
            </div>
        </div>
        
    </div>
</div>