---
import "../styles/global.css";
import { ClientRouter } from "astro:transitions";

interface Props {
  title?: string;
  description?: string;
}

const {
  title = "I'm Rishi Gohil",
  description = "Personal website of Rishi Gohil.",
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="cache-control" content="public" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={description} />
    <meta
      name="keywords"
      content="software engineer, software developer, california, florida, south florida, boston, programmer, bigdata, development"
    />
    <meta name="author" content="Rishi Gohil" />
    <meta name="robots" content="index, nofollow, noai, noimageai" />
    <meta name="googlebot" content="noai, noimageai" />
    <meta name="ChatGPT-User" content="noindex" />
    <meta name="GPTBot" content="noindex" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <title>{title}</title>
    <ClientRouter />
  </head>
  <body class="min-h-screen text-zinc-900">
    <main id="main">
      <slot />
    </main>

    <footer
      class="fixed inset-x-0 bottom-0 hidden p-4 text-left text-[10px] text-[#b1b1b1] sm:block"
    >
      <span>© {new Date().getFullYear()} Rishi Gohil</span>
    </footer>
  </body>
</html>
