/* CSS Wardrobe */

body {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23d8d8d8' fill-opacity='0.3' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  -webkit-font-smoothing: antialiased;
}

* {
  margin: 0;
  padding: 0;
}


/* Social Icon CSS  */

.footer-social-icons {
  display: block;
}

.social-icon {
  color: #fff;
  align-content: center;
}

.social-icons li {
  vertical-align: top;
  display: inline;
  margin-left: auto;
  overflow: hidden;
  color: black;
}

.social-icons a {
  color: black;
  text-decoration: none;
}

.icons {
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
}

.fa-facebook {
  padding: 10px 14px;
  color: black;
}

.fa-facebook:hover {
  color: white;
  background-color: #3d5b99;
}

.fa-twitter {
  padding: 10px 12px;
  color: black;
}

.fa-twitter:hover {
  color: white;
  background-color: #00aced;
}

.fa-linkedin {
  padding: 10px 14px;
  color: black;
}

.fa-linkedin:hover {
  color: white;
  background-color: #0073a4;
}

.fa-github {
  padding: 10px 14px;
  color: black;
}

.fa-github:hover {
  color: white;
  background-color: #808080;
}

.fa-soundcloud {
  padding: 10px 14px;
  color: black;
}

.fa-soundcloud:hover {
  color: white;
  background-color: #FF7512;
}

.fa-envelope {
  padding: 10px 14px;
  color: black;
}

.fa-envelope:hover {
  color: white;
  background-color: #0072c6;
}

.not-found .container,
.profile-card .container{
  padding: 10% 20px;
}

.center {
  margin: 0 auto;
  text-align: center;
}

.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  margin: 1rem;
  width: 300px;
  -webkit-animation: fadein 1s linear forwards;
  animation: fadein 1.5s linear forwards;
}

.card {
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.7s cubic-bezier(.25, .8, .25, 1);
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transform: translate(0, -4px)
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: left;
  color: #b1b1b1;
  font-size: 10px;
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 550px) {
  .card {
    width: 95%;
  }
  .footer {
    visibility: hidden;
    display: none;
  }
}

.summary {
  width: auto;
  height: auto;
  padding: 20px 20px 0;
  display: block;
}

.summary .image-link {
  display: inline-block;
  text-align: center;
  position: relative;
  margin: 10px 30px;
}

.summary .image-link>img {
  width: 120px;
  max-width: 100%;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.06);
  -webkit-transition: box-shadow 0.3s ease;
  -moz-transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
}

.summary .image-link:hover>img {
  box-shadow: 0px 0px 0px 12px rgba(0, 0, 0, 0.1);
}

.summary .profile-nickname {
  font-weight: 500;
  margin: 0px 0px 1px 0px;
}

.summary h5,
.summary h6 {
  margin-bottom: 0;
}

.summary .heading {
  color: grey;
}

.profile-bio a {
  font-weight: bold;
  position: relative;
  cursor: pointer;
  color: #000;
  text-decoration: none;
}

.profile-bio a:hover {
  color: #000;
  text-decoration: none;
}

.profile-bio a:before,
.profile-bio a:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -2px;
  background: #000;
}

.profile-bio a:before {
  left: 0;
}

.profile-bio a:after {
  right: 0;
  background: #000;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.profile-bio a:hover:before {
  background: #000;
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.profile-bio a:hover:after {
  background: transparent;
  width: 100%;
  transition: 0s;
}

.profile-bio {
  width: auto;
  height: auto;
  padding: 15px 20px 0px;
  display: block;
  color: #333333;
}

.profile-bio p {
  margin-bottom: 1.5rem;
}